@model List<TireManagment.DbModels.TireMovement>;
<div class="pagetitle">
    <h1>Notification [Tire Movements]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
          
            <li class="breadcrumb-item active">Tire Movements</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notification :  <code>[Pending]</code></h5>
@*
                                <div class="row">
                            <div class="col-md-6">
                                <p class="alert alert-secondary" role="alert"> <b>Notification : </b> <code>[Pending]</code></p>
                            </div>
                        </div>*@


                
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Movement Type</th>
                                 <th scope="col">Truck Number</th>
                                <th scope="col">TireMan Name</th>
                                <th scope="col">Submit Date</th>
                                 <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            @foreach(var movement in Model)
                        {
                                    <tr>
                                        <td scope="row">@movement.Id</td>

                                        @if(movement.MovementType=="Rotation"){

                                            <td>
                                                <div class="alert alert-success" role="alert">
                                                            @movement.MovementType
                                                    </div>
                                         
                                                </td>
                                        }
                                        else
                                        {
                                              <td>
                                                <div class="alert alert-danger" role="alert">
                                                            @movement.MovementType
                                                    </div>
                                         
                                                </td>
                                        }
                                          
                                          <td>@movement.TruckNumber</td>
                                          <td>@movement.Tireman.Name</td>
                                          <td>@movement.SubmitDate</td>
                          
                            
                                        <td><a asp-controller="TireMovement" asp-action="GetMovementDetail" asp-route-id="@movement.Id" class="btn btn-primary">Details</a></td>
                                    </tr>
                                  }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>