@inject TireManagment.Services.CategoryService service;
@inject TireManagment.Services.TireService tservice;
@inject TireManagment.Services.TruckService truckservice;
@inject TireManagment.Services.AccountService accountservice;
@inject TireManagment.Services.TruckTireService trucktireservice;

@using TireManagment.Enums;

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        @{
                            var alltires = tservice.Tires().Count();
                            var NewTires = tservice.Tires().Where(t => t.TireStatus == TireStatus.New).Count();
                            var RunningTires = tservice.Tires().Where(t => t.TireStatus == TireStatus.Running).Count();
                            var DamagedTires = tservice.Tires().Where(t => t.TireStatus == TireStatus.Damaged).Count();
                            var RetreadTires = tservice.Tires().Where(t => t.TireStatus == TireStatus.Retread).Count();
                            var Newandrunning = NewTires + RunningTires;
                            var DamagedandandRetrieved = RetreadTires + DamagedTires;
                        }
                        <div class="card-body">
                            <h5 class="card-title">Tires<span>| Available</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="alltires">@alltires</h6>
                                    <span class="text-success small pt-1 fw-bold">#</span> <span class="text-muted small pt-2 ps-1">All tires on the system</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="card-body">
                            <h5 class="card-title">New & Running <span>| Tires</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                   <i class="bi bi-check2-all"></i>

                                </div>
                                <div class="ps-3">
                                    <h6 id="newandrunning">@Newandrunning</h6>
                                    <span id="new" class="text-success small pt-1 fw-bold">@NewTires</span> <span class="text-muted small pt-2 ps-1">New</span>
                                    <span id="running" class="text-success small pt-1 fw-bold">@RunningTires</span> <span class="text-muted small pt-2 ps-1">Running</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Retread & Damaged <span>| Tires</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                         <i class="bi bi-x-circle"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="retreadanddamaged">@DamagedandandRetrieved</h6>
                                    <span id="retread" class="text-danger small pt-1 fw-bold">@RetreadTires</span> <span class="text-muted small pt-2 ps-1">Retread</span>
                                    <span id="damaged" class="text-danger small pt-1 fw-bold">@DamagedTires</span> <span class="text-muted small pt-2 ps-1">Damaged</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Trucks<span>| Available</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-truck-flatbed"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@truckservice.GetTruckCount()</h6>
                                    <span class="text-success small pt-1 fw-bold">#</span> <span class="text-muted small pt-2 ps-1">All trucks  on the system</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">


                        <div class="card-body">
                            <h5 class="card-title">Administrators <span>| Available</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                   <i class="bi bi-person-plus"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@*$3,264*@ @accountservice.GetAdministrators()</h6>
                                    <span class="text-success small pt-1 fw-bold">#</span> <span class="text-muted small pt-2 ps-1">All administrators on the system</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title">TireMen <span>| Available</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@accountservice.GetTiremens()</h6>
                                    <span class="text-danger small pt-1 fw-bold">#</span> <span class="text-muted small pt-2 ps-1">All tiremen on the system</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">


                        <div class="card-body">
                            <h5 class="card-title">Tire Movement<span>| Last <b>5</b> Movement available on the system </span></h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">TireMan</th>
                                        <th scope="col">Movement Date</th>
                                        <th scope="col">Truck Number</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var movement in trucktireservice.GetTopMovments())
                                    {
                                    <tr>
                                        <th scope="row"><a href="#">@movement.Id</a></th>
                                        <td>@movement.Tireman.Name</td>
                                        <td class="">@movement.SubmitDate</td>

                                        <td>@movement.TruckNumber</td>
                                        @if (movement.MovementType == MovmentType.Rotation)
                                        {
                                            <td><span class="badge bg-success">@movement.MovementType</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge bg-danger">@movement.MovementType</span></td>
                                        }
                                    </tr>
                                    }

                                 
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Truck Categories <span>| Truck Count per Category</span></h5>

                    <div class="activity">
                        @{
                            List<CategoryWithTruckCount> categosries = service.GetAllWithTruckCount().ToList();
                        }

                        <div class="activity-item d-flex">
                            <div class="activite-label">@categosries[0].count</div>
                            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                            <div class="activity-content">
                                @categosries[0].category <a href="#" class="fw-bold text-dark"></a>
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">@categosries[1].count</div>
                            <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                            <div class="activity-content">
                                @categosries[1].category
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">   @categosries[2].count</div>
                            <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                            <div class="activity-content">
                                @categosries[2].category
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">   @categosries[3].count</div>
                            <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                            <div class="activity-content">
                                @categosries[3].category <a href="#" class="fw-bold text-dark"></a>
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">   @categosries[4].count</div>
                            <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                            <div class="activity-content">
                                @categosries[4].category
                            </div>
                        </div><!-- End activity item-->
                        <!--<div class="activity-item d-flex">
                            <div class="activite-label"> 2 days</div>
                            <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                            <div class="activity-content">
                            category 45
                            </div>
                        </div>-->
                        <!-- End activity item-->

                    </div>

                </div>
            </div><!-- End Recent Activity -->
            <!-- News & Updates Traffic -->
            <div class="card">


                <div class="card-body pb-0">
                    <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="assets/img/news-1.jpg" alt="">
                            <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                            <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-2.jpg" alt="">
                            <h4><a href="#">Quidem autem et impedit</a></h4>
                            <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-3.jpg" alt="">
                            <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                            <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-4.jpg" alt="">
                            <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                            <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-5.jpg" alt="">
                            <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                            <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </div>
</section>
