@*@model IEnumerable<TireManagment.DbModels.Truck>*@
@model TireManagment.DbModels.Tire
@using TireManagment.DbModels;
@{
    ViewData["Title"] = "Index";
}
<div class="modal " id="AlertModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content" style="background-color:white">
            <div class="modal-header">

              <h4 class="modal-title"> <i class="bi bi-check2-all"></i> |  Success</h4>
                <a href="#" id="modalclose" class="close" style="color:black;font-size:18px" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h4>Tire Added Successfully</h4>
            </div>
            <div class="modal-footer">
                <button id="alertclose" type="button" class="btn btn-success" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>


    <div class="pagetitle">
               <h3>MasterData</h3>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item">MasterData</li>
                <li class="breadcrumb-item active">Tires</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tires</h5>
                        <p>Add new tire to the system  , <code>Tire Status : New</code></p>

                        <!-- Table with stripped rows -->
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-top">
                         
                              
                                 
                                    @*<a class="btn btn-success" asp-action="AddTruck" asp-controller="Truck">Add Truck</a>*@
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addmodal">
                                        Add Tire
                                    </button>
                                
                                               <br />
                     <br />
                            </div>
                            <div class="dataTable-container">

                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-sortable="" style="width: 5.63549%;"><a href="#" class="dataTable-sorter">#ID</a></th>
                                             <th scope="col" data-sortable="" style="width: 37.7698%;"><a href="#" class="dataTable-sorter">Serial</a></th>
                                            <th scope="col" data-sortable="" style="width: 28.0576%;"><a href="#" class="dataTable-sorter">Brand</a></th>
                                            <th scope="col" data-sortable="" style="width: 9.23261%;"><a href="#" class="dataTable-sorter">Size</a></th>
                                            <th scope="col" data-sortable="" style="width: 19.3046%;"><a href="#" class="dataTable-sorter">Status</a></th>
                                            <th scope="col" data-sortable="" style="width: 19.3046%;"><a href="#" class="dataTable-sorter">Register Date</a></th>





                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Tire tire in ViewBag.tires)
                                        {
                                            <tr>
                                                <th scope="row">@tire.ID</th>
                                                 <td>@tire.Serial</td>
                                                <td>@tire.Brand.Name</td>
                                                <td>@tire.Size</td>
                                                <td>@tire.TireStatus</td>
                                                <td>@tire.SubmitDate</td>

                                          

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                <!-- Modal -->
                                <div class="modal fade" id="addmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="staticBackdropLabel"><i class="bi bi-fan"></i> |  Add Tire</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="row g-3" asp-action="AddTire" id="tireform">


                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                                                    <div class="col-md-6">
                                                        <div class="form-floating">
                                                            <input asp-for="@Model.Serial" value="@Model.Serial" type="text" class="form-control" id="floatingZip" placeholder="Zip">
                                                            <label for="floatingZip">Serial</label>
                                                             <span asp-validation-for="@Model.Serial" class="text-danger"></span>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-floating">
                                                            <input asp-for="@Model.Size" value="@Model.Size" type="text" class="form-control" id="floatingZip" placeholder="Zip">
                                                            <label for="floatingZip">Tire Size</label>
                                                            <span asp-validation-for="@Model.Size" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <select asp-for="@Model.BrandId" asp-items="@(new SelectList(ViewBag.brands, nameof(TireBrand.Id), nameof(TireBrand.Name)))" class="form-control"></select>
                                                                <label for="floatingCity">Tire Brand</label>
                                                                <span asp-validation-for="@Model.BrandId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>

        </div>*@
                                                    <div class="modal-footer">
                                                               <button type="submit" class="btn btn-primary">Add</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                 
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

@section Scripts {

    <script>
        var success = '@ViewBag.success';
        if (success) {


            $('#AlertModal').modal('show');
          //  $('#addmodal').modal('hide');


        }
      //  else { alert('f') };

        //$("#AlertModal  #alertclose").click(function () { $(this).parent().parent().parent().parent().modal('hide'); });
        //$("#AlertModal  #modalclose").click(function () { $(this).parent().parent().parent().parent().modal('hide'); });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

