@*@model IEnumerable<TireManagment.DbModels.Truck>*@
@model TireManagment.DbModels.Truck
@inject TireManagment.Services.TireService tireservice;
@using TireManagment.DbModels;

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/datatable1.css" rel="stylesheet" />
}

<form class="form-horizontal" asp-action="GetTruckData" asp-controller="Truck" method="get">
    <div class="input-group mb-3">
        <label class="text-justify " style="margin-top:8px;font-size:16px;font-family:'Times New Roman', Times, serif">Choose Truck</label>&nbsp;
        @if (Model != null)
        {
            <select name="truckid" style="width:100px" asp-items="@(new SelectList(ViewBag.trucknumbers, nameof(trucwithknumber.Id), nameof(trucwithknumber.TruckNumber), Model.ID))" class="col-4 form-control"></select>
        }
        else
        {
            <select name="truckid" style="width:100px" asp-items="@(new SelectList(ViewBag.trucknumbers, nameof(trucwithknumber.Id), nameof(trucwithknumber.TruckNumber)))" class="form-control"></select>
        }
        <div class="input-group-append">
            <button class="btn btn-info" type="submit">Get Details</button>
        </div>
    </div>
</form>
<div class="row">

</div>
@if (Model != null)
{
    <table class="table table-dark">
        <tr>
            <th>Truck Name</th>
            <th>Truck Number</th>
            <th>Truck Model</th>
            <th>Truck Chassis</th>
            <th>Truck Category</th>
            <th>Truck Engine</th>
            <th>Truck Company</th>
        </tr>
        <tr>
            <td>@Model.TruckName</td>
            <td>@Model.TruckNumber</td>
            <td>@Model.VehichleModelNo</td>
            <td>@Model.Chassis</td>
            <td>@Model.Category.Category</td>
            <td>@Model.Engine</td>
            <td>@Model.Company</td>

        </tr>
    </table>
    <h4>Current Tires Positions</h4>
    <table class="table table-info">
        <tr>
            <th> Tire Position</th>
            <th>Tire Serial</th>
            <th>Tire Brand</th>
            <th>Last UpdatDate</th>

        </tr>
        @foreach (TruckTireViewModel x in ViewBag.trucktires)
        {
            <tr>
                <td>@x.Position</td>
                <td>@x.TireSerial</td>
                <td>@x.Tirebrand</td>
                <td>@x.LastUpdateTime</td>

            </tr>
        }
    </table>
    <h4>Truck Movements</h4>
    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th style="">Tire Man Name</th>
                <th style="">Movement Type</th>
                <th style="">Movement Date</th>
                <th>Truck Number</th>
                <th style="width:0px">details</th>
                <th>details</th>
            </tr>
        </thead>

        @foreach (TireMovement move in ViewBag.truckmovements)
        {
            <tr>
                <td>@move.Id</td>
                <td style="">@move.Tireman.Name</td>
                <td style="">@move.MovementType</td>
                <td style="">@move.SubmitDate</td>
                <td>@move.TruckNumber</td>
                @foreach (MovementDetails d in move.MovementDetails)
                {



                    <td>CurrentTireDepth:   @d.CurrentTireDepth &nbsp; KMWhileChange: @d.KMWhileChange &nbsp;&nbsp; STDthreadDepth: @d.STDthreadDepth &nbsp;&nbsp; Position: @d.Position &nbsp;&nbsp;TireSerial:@tireservice.GetTireSerial(@d.TireId)</td>

                }


            </tr>


        }

    </table>
}

@section Scripts {

    <script crossorigin="anonymous" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script crossorigin="anonymous" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true
            });
        });
    </script>
    <script>
                    //var table = $('#example').DataTable({
                    //    responsive: true
                    //});

                    ////table.rows().every(function () {
                    ////    this.child('Row details for row: ' + this.index());
                    ////});

                    //$('#example tbody').on('click', 'tr', function () {
                    //    var child = table.row(this).child;

                    //    if (child.isShown()) {
                    //        child.hide();
                    //    }
                    //    else {
                    //        child.show();
                    //    }
                    //});
    </script>
    @*<script>

                  $(document).ready(function () {

                  });



                  $('#example tbody').on('click', 'td', function () {
                      var dt = $('#example').DataTable({});
                alert('fff');
                var tr = $(this).closest('tr');
                      var row = dt.row(tr);
                      console.log(row);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    //row.child(format(row.data())).show();
                    //tr.addClass('shown');
                }
            });
            function format(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                    '<td>Full name:</td>' +
                    '<td>' + d.name + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Extension number:</td>' +
                    '<td>' + d.extn + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Extra info:</td>' +
                    '<td>And any further details here (images etc)...</td>' +
                    '</tr>' +
                    '</table>';
            }
        </script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

