@*@model IEnumerable<TireManagment.DbModels.Truck>*@
@model TireManagment.DbModels.Truck
@inject TireManagment.Services.TireService tireservice;
@inject TireManagment.Services.CategoryService service;
@inject TireManagment.Services.TireService tservice;
@inject TireManagment.Services.TruckService truckservice;
@inject TireManagment.Services.AccountService accountservice;
@inject TireManagment.Services.TruckTireService trucktireservice;
@using TireManagment.Enums;
@using TireManagment.DbModels;

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/datatable1.css" rel="stylesheet" />
}

<form class="form-horizontal" asp-action="GetTruckData" asp-controller="Truck" method="get">
    <div class="input-group mb-3">
        <label class="text-justify " style="margin-top:8px;font-size:16px;font-family:'Times New Roman', Times, serif">Choose Truck</label>&nbsp;
        @if (Model != null)
        {
            <select name="truckid" style="width:100px" asp-items="@(new SelectList(ViewBag.trucknumbers, nameof(trucwithknumber.Id), nameof(trucwithknumber.TruckNumber), Model.ID))" class="col-4 form-control"></select>
        }
        else
        {
            <select name="truckid" style="width:100px" asp-items="@(new SelectList(ViewBag.trucknumbers, nameof(trucwithknumber.Id), nameof(trucwithknumber.TruckNumber)))" class="form-control"></select>
        }
        <div class="input-group-append">
            <button class="btn btn-info" type="submit">Get Details</button>
        </div>
    </div>
</form>

@if (Model != null)
{

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

               
                 
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                @*<h5 class="card-title">Retread & Damaged <span>| Tires</span></h5>*@
                                <h5 class="card-title">Details <span></span></h5>

                                <div class="d-flex align-items-center">
                                    <table class="table">
                                        <tr>
                                            <th> Name</th>
                                            <th> Number</th>
                                            <th> Model</th>
                                            <th> Chassis</th>
                                            <th> Category</th>
                                            <th> Engine</th>
                                            <th> Company</th>
                                        </tr>
                                        <tr>
                                            <td>@Model.TruckName</td>
                                            <td>@Model.TruckNumber</td>
                                            <td>@Model.VehichleModelNo</td>
                                            <td>@Model.Chassis</td>
                                            <td>@Model.Category.Category</td>
                                            <td>@Model.Engine</td>
                                            <td>@Model.Company</td>

                                        </tr>
                                    </table>
                                    @*<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-people"></i>
            </div>
            <div class="ps-3">
                <h6 id="retreadanddamaged"></h6>
                <span id="retread" class="text-danger small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1">Retread</span>
                <span id="damaged" class="text-danger small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1">Damaged</span>
            </div>*@
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
               
               
                  
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Truck Movements<span>| Last <b>5</b> Movement available on the system </span></h5>

                                <table id="example" class="display nowrap  table-borderless" style="">
                                    <thead>
                                        <tr>
                                            <th >Id</th>
                                            <th >TireMan</th>
                                            <th>Movement Type</th>
                                            <th>Submit Date</th>
                                            <th >Truck Number</th>
                                            <th></th>
                                            <th>d1</th>
                                            <th>d2</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (TireMovement move in ViewBag.truckmovements)
                                        {
                                        <tr>
                                            <td>@move.Id</td>
                                            <td style="">@move.Tireman.Name</td>
                                            <td style="">@move.MovementType</td>
                                            <td style="">@move.SubmitDate</td>
                                            <td>@move.TruckNumber</td>
                                            <th>CurrentTireDepth  &nbsp;&nbsp;  KMWhileChange &nbsp;&nbsp; STDthreadDepth &nbsp;&nbsp; Position &nbsp;&nbsp; <span style="">TireSerial</span></th>
                                            @foreach (MovementDetails d in move.MovementDetails)
                                            {



                                                @*<td style="width:50px">CurrentTireDepth:   @d.CurrentTireDepth &nbsp; KMWhileChange: @d.KMWhileChange &nbsp;&nbsp; STDthreadDepth: @d.STDthreadDepth &nbsp;&nbsp; Position: @d.Position &nbsp;&nbsp;TireSerial:@tireservice.GetTireSerial(@d.TireId)</td>*@
                                        <td style="width:50px"><span style="margin:50px"> @d.CurrentTireDepth</span> &nbsp;<span style="margin: 50px"> @d.KMWhileChange</span> &nbsp;&nbsp;<span style="margin:50px"> @d.STDthreadDepth</span> <span style=""> @d.Position</span><span style="margin:50px">@tireservice.GetTireSerial(@d.TireId)</span></td>

                                            }

                                        </tr>


                                        }

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                </div>
            </div><!-- End Left side columns -->
            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Truck Tires <span>| Truck Tire In Postion</span></h5>

                        <div class="activity">
                            @{
                                List<CategoryWithTruckCount> categosries = service.GetAllWithTruckCount().ToList();

                            }
                            @foreach (TruckTireViewModel x in ViewBag.trucktires)
                            {
                           
                             
                                <div class="activity-item d-flex">
                                    <div class="activite-label">@x.Position</div>
                                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                    <div class="activity-content">
                                        @x.TireSerial<a href="#" class="fw-bold text-dark"></a>
                                    </div>
                                </div>
                            
                            }
                          <!-- End activity item-->

                            <!--<div class="activity-item d-flex">
        <div class="activite-label"> 2 days</div>
        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
        <div class="activity-content">
        category 45
        </div>
    </div>-->
                            <!-- End activity item-->

                        </div>

                    </div>
                </div><!-- End Recent Activity -->
                <!-- News & Updates Traffic -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>
                        @*class=news*@
                        <div class="">

                            <img width="220" height="400" src="~/Img/@Model.Category.Image" />

                        </div><!-- End sidebar recent posts-->

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>
    @*<table class="table table-dark">
            <tr>
                <th>Truck Name</th>
                <th>Truck Number</th>
                <th>Truck Model</th>
                <th>Truck Chassis</th>
                <th>Truck Category</th>
                <th>Truck Engine</th>
                <th>Truck Company</th>
            </tr>
            <tr>
                <td>@Model.TruckName</td>
                <td>@Model.TruckNumber</td>
                <td>@Model.VehichleModelNo</td>
                <td>@Model.Chassis</td>
                <td>@Model.Category.Category</td>
                <td>@Model.Engine</td>
                <td>@Model.Company</td>

            </tr>
        </table>
        <h4>Current Tires Positions</h4>
        <table class="table table-info">
            <tr>
                <th> Tire Position</th>
                <th>Tire Serial</th>
                <th>Tire Brand</th>
                <th>Last UpdatDate</th>

            </tr>
            @foreach (TruckTireViewModel x in ViewBag.trucktires)
            {
                <tr>
                    <td>@x.Position</td>
                    <td>@x.TireSerial</td>
                    <td>@x.Tirebrand</td>
                    <td>@x.LastUpdateTime</td>

                </tr>
            }
        </table>
        <h4>Truck Movements</h4>
        <table id="example" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th style="">Tire Man Name</th>
                    <th style="">Movement Type</th>
                    <th style="">Movement Date</th>
                    <th>Truck Number</th>
                    <th style="width:0px">details</th>
                    <th>details</th>
                </tr>
            </thead>

            @foreach (TireMovement move in ViewBag.truckmovements)
            {
                <tr>
                    <td>@move.Id</td>
                    <td style="">@move.Tireman.Name</td>
                    <td style="">@move.MovementType</td>
                    <td style="">@move.SubmitDate</td>
                    <td>@move.TruckNumber</td>
                    @foreach (MovementDetails d in move.MovementDetails)
                    {



                        <td>CurrentTireDepth:   @d.CurrentTireDepth &nbsp; KMWhileChange: @d.KMWhileChange &nbsp;&nbsp; STDthreadDepth: @d.STDthreadDepth &nbsp;&nbsp; Position: @d.Position &nbsp;&nbsp;TireSerial:@tireservice.GetTireSerial(@d.TireId)</td>

                    }

                </tr>


            }

        </table>*@
}

@section Scripts {

    <script crossorigin="anonymous" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script crossorigin="anonymous" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true
            });
        });
    </script>
    <script>
                            //var table = $('#example').DataTable({
                            //    responsive: true
                            //});

                            ////table.rows().every(function () {
                            ////    this.child('Row details for row: ' + this.index());
                            ////});

                            //$('#example tbody').on('click', 'tr', function () {
                            //    var child = table.row(this).child;

                            //    if (child.isShown()) {
                            //        child.hide();
                            //    }
                            //    else {
                            //        child.show();
                            //    }
                            //});
    </script>
    @*<script>

                  $(document).ready(function () {

                  });



                  $('#example tbody').on('click', 'td', function () {
                      var dt = $('#example').DataTable({});
                alert('fff');
                var tr = $(this).closest('tr');
                      var row = dt.row(tr);
                      console.log(row);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    //row.child(format(row.data())).show();
                    //tr.addClass('shown');
                }
            });
            function format(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                    '<td>Full name:</td>' +
                    '<td>' + d.name + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Extension number:</td>' +
                    '<td>' + d.extn + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Extra info:</td>' +
                    '<td>And any further details here (images etc)...</td>' +
                    '</tr>' +
                    '</table>';
            }
        </script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

