@model IEnumerable<TireManagment.DbModels.TruckCategory>

@{
    ViewData["Title"] = "Index";
}


    <div class="pagetitle">
        <h1>Master Data</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item">Master</li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>
                        <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

                        <!-- Table with stripped rows -->
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                         
                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col" >#ID</></th>
                                            <th  scope="col" >Name</a></th>
                                            <th scope="col" >Tire Count</a></th>
                                            <th scope="col">Rare Tires</a></th>
                                            <th scope="col">Spare Tire</></th>
                                            <th scope="col">Front Tire</></th>
                                            <th scope="col">Status</></th>
                                            <th scope="col">Date</></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach(var category in Model)
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>@category.Category</td>
                    <td>@category.TireCount</td>
                    <td>@category.RareTires</td>
                    <td>@category.SpareTires</td>
                    <td>@category.FrontTires</td>
                    <td>@category.Active</td>
                    <td>@category.SubmitDate</td>
                </tr>
            }
                                   
                                       
                                           </tbody>
                                </table>
                            </div>
                       
                        </div>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
       
    </section>


@*<main id="main" class="main">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TireCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpareTires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RareTires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontTire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TireCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpareTires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RareTires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontTire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </main>*@